Email Automation/unzipped/Microsoft.Flow/flows/c3e0a5ce-14bd-4e42-8969-16d11304c577/definition.json
{"name":"14803fee-a842-4624-99d2-b86dca4b0b35","id":"/providers/Microsoft.Flow/flows/14803fee-a842-4624-99d2-b86dca4b0b35","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Customer & Product Statistics Email Report (Billets, Ferro, & Sponge)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"de3b35ac-cd48-40bb-a01f-31caad4d2fbb","type":"User","tenantId":"88c98177-1357-47ea-aab2-4526ea389742"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-24T03:03:04.3284789Z","connectionKeySavedTimeKey":"2025-09-24T03:03:04.3284789Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"India Standard Time","schedule":{"hours":["9"],"minutes":[15]},"startTime":"2025-09-06"},"evaluatedRecurrence":{"frequency":"Day","interval":1,"timeZone":"India Standard Time","schedule":{"hours":["9"],"minutes":[15]},"startTime":"2025-09-06"},"metadata":{"operationMetadataId":"cf8e8472-8a86-4940-af60-aa8dbf1c64dd"},"type":"Recurrence"}},"actions":{"Run_a_query_against_a_dataset_5_":{"runAfter":{},"metadata":{"operationMetadataId":"84bb2e26-d845-42c1-9792-7fcea52a4999"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4Month Analysis Customer Ferro',\n        \"Sell to City\", '4Month Analysis Customer Ferro'[Location],\n        \"Customer\", '4Month Analysis Customer Ferro'[Customer],\n        \"Apr\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"Jun\", ROUND([JunSales], 2),\n        \"Jul\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2),\n        \"NewCustomer\", '4Month Analysis Customer Ferro'[NewCustomer]\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Sell to City\", \"Total\",\n        \"Customer\", BLANK(),\n        \"Apr\", ROUND(SUMX(T, [Apr]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"Jun\", ROUND(SUMX(T, [Jun]), 2),\n        \"Jul\", ROUND(SUMX(T, [Jul]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2),\n        \"NewCustomer\", BLANK()\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_5_":{"runAfter":{"Run_a_query_against_a_dataset_5_":["Succeeded"]},"metadata":{"operationMetadataId":"3356478f-ea3e-4118-a7dd-307696b7331a"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_5_')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Customer":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Customer","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_5_":{"runAfter":{"Parse_JSON_5_":["Succeeded"]},"metadata":{"operationMetadataId":"55836b5e-6e01-4249-bec8-088bf831ccce"},"type":"Table","inputs":{"from":"@body('Parse_JSON_5_')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_5_":{"runAfter":{"Create_HTML_table_5_":["Succeeded"]},"metadata":{"operationMetadataId":"eed20c2c-22b0-47ec-9b8a-d7b397eeb4ca"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_5_'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"},"Send_an_email_(V2)":{"runAfter":{"Compose_5_":["Succeeded"],"Compose_1":["Succeeded"],"Compose_2":["Succeeded"],"Compose_3":["Succeeded"],"Compose_4":["Succeeded"],"Compose_":["Succeeded"]},"metadata":{"operationMetadataId":"2e16dc5c-7094-42b6-b124-1a6d36b6ad6d"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"kashi@aionjsw.in;ssv@aionjsw.in;debashish.banerjee@aionjsw.in;aayush.agarwal@aionjsw.in;ajaysingh.it@aionjsw.in","emailMessage/Subject":"FW : CUSTOMER STATISTICS FY 25-26 (Billets, Ferro & Silico)","emailMessage/Body":"<p class=\"editor-paragraph\">Date : @{utcNow('dd MMMM yyyy')}</p><p class=\"editor-paragraph\"><br>Customer Statistics FY 24-25 (Billets) Date : @{utcNow('dd MMMM yyyy')}<br>@{outputs('Compose_')}<br><br>Customer Statistics FY 24-25 (Silico) Date : @{utcNow('dd MMMM yyyy')}<br>@{outputs('Compose_5_')}<br><br>Customer Statistics FY 24-25 (Sponge) Date : @{utcNow('dd MMMM yyyy')}<br>@{outputs('Compose_1')}<br><br>Product Statistics FY 24-25(Billets) Date : @{utcnow('dd MMMM yyyy')}<br>@{outputs('Compose_4')}<br><br>Product Statistics FY 24-25(Ferro) Date : @{utcnow('dd MMMM yyyy')}<br>@{outputs('Compose_2')}<br><br>Product Statistics FY 24-25(Sponge) Date : @{utcnow('dd MMMM yyyy')}<br>@{outputs('Compose_3')}<br><br><br>Please note the Abbreviations<br>FTD - For the day<br>MTD - Month till date<br>LM - Last Month<br>YTD - Year till date<br>Prod - Production<br><br>This is an automatically generated email, please do not reply</p>","emailMessage/Cc":"ranjan.nayak@aionjsw.in","emailMessage/Bcc":"jasmeet.sethi@acxiomconsulting.com;prabhudeep.sharma@acxiomconsulting.com;muniba.fatima@acxiomconsulting.com;allaka.sudhakar@aionjsw.in","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Run_a_query_against_a_dataset_1":{"runAfter":{},"metadata":{"operationMetadataId":"0724fb4b-7f3c-46bc-b7e2-484215251dd0"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4Month Analysis Customer Sponge',\n        \"Sell to City\", '4Month Analysis Customer Sponge'[Location],\n        \"Customer\", '4Month Analysis Customer Sponge'[Customer],\n        \"Apr\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"Jun\", ROUND([JunSales], 2),\n        \"Jul\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2),\n        \"NewCustomer\", '4Month Analysis Customer Sponge'[NewCustomer]\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Sell to City\", \"Total\",\n        \"Customer\", BLANK(),\n        \"Apr\", ROUND(SUMX(T, [Apr]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"Jun\", ROUND(SUMX(T, [Jun]), 2),\n        \"Jul\", ROUND(SUMX(T, [Jul]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2),\n        \"NewCustomer\", BLANK()\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_1":{"runAfter":{"Run_a_query_against_a_dataset_1":["Succeeded"]},"metadata":{"operationMetadataId":"96524f6b-dd8f-4b3c-93bb-b184600f4413"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_1')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Customer":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Customer","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_1":{"runAfter":{"Parse_JSON_1":["Succeeded"]},"metadata":{"operationMetadataId":"d21ac482-91ec-47df-aaf3-81bf8f04ba2b"},"type":"Table","inputs":{"from":"@body('Parse_JSON_1')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_1":{"runAfter":{"Create_HTML_table_1":["Succeeded"]},"metadata":{"operationMetadataId":"b4945aac-c795-456d-b347-da038a93956f"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_1'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"},"Run_a_query_against_a_dataset_2":{"runAfter":{},"metadata":{"operationMetadataId":"bb5441b7-d7af-4229-b727-8798d4cca21c"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4ProductWiseSales Ferro',\n        \"Item Name\", [Item Name],\n        \"April\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"June\", ROUND([JunSales], 2),\n        \"July\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2)\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Item Name\", \"Total\",\n        \"April\", ROUND(SUMX(T, [April]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"June\", ROUND(SUMX(T, [June]), 2),\n        \"July\", ROUND(SUMX(T, [July]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2)\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_2":{"runAfter":{"Run_a_query_against_a_dataset_2":["Succeeded"]},"metadata":{"operationMetadataId":"a23f45ad-f17d-4ab3-9717-177b964d459c"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_2')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Item Name":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Item Name","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_2":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"cf2501e1-9e84-41b3-98a1-2032cda9984a"},"type":"Table","inputs":{"from":"@body('Parse_JSON_2')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_2":{"runAfter":{"Create_HTML_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"d1c1441d-988f-4ab4-bff7-c7b50586e547"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_2'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"},"Run_a_query_against_a_dataset_3":{"runAfter":{},"metadata":{"operationMetadataId":"4765f503-1be5-4491-801a-ac6aa9dc1313"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4ProductWiseSales Sponge',\n        \"Item Name\", [Item Name],\n        \"April\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"June\", ROUND([JunSales], 2),\n        \"July\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2)\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Item Name\", \"Total\",\n        \"April\", ROUND(SUMX(T, [April]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"June\", ROUND(SUMX(T, [June]), 2),\n        \"July\", ROUND(SUMX(T, [July]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2)\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_3":{"runAfter":{"Run_a_query_against_a_dataset_3":["Succeeded"]},"metadata":{"operationMetadataId":"0b2a73b8-6ddc-453f-bf0e-0117f8c89848"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_3')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Item Name":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Item Name","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_3":{"runAfter":{"Parse_JSON_3":["Succeeded"]},"metadata":{"operationMetadataId":"e00c0f69-a584-420b-8843-89f270648818"},"type":"Table","inputs":{"from":"@body('Parse_JSON_3')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_3":{"runAfter":{"Create_HTML_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"bbe7ee8b-d8e4-4483-908d-eb48c70f12da"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_3'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"},"Run_a_query_against_a_dataset_4":{"runAfter":{},"metadata":{"operationMetadataId":"55bb62e8-d2b2-40f3-95e8-4635321dc2c6"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4ProductWiseSales Billets',\n        \"Item Name\", [Item Name],\n        \"April\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"June\", ROUND([JunSales], 2),\n        \"July\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2)\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Item Name\", \"Total\",\n        \"April\", ROUND(SUMX(T, [April]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"June\", ROUND(SUMX(T, [June]), 2),\n        \"July\", ROUND(SUMX(T, [July]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2)\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_4":{"runAfter":{"Run_a_query_against_a_dataset_4":["Succeeded"]},"metadata":{"operationMetadataId":"ce75cd1c-bdb1-4d57-bdb8-3fb4e82cd1f1"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_4')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Item Name":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Item Name","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_4":{"runAfter":{"Parse_JSON_4":["Succeeded"]},"metadata":{"operationMetadataId":"e8ba0be4-efe8-4cb8-bc56-8d5374a33ce7"},"type":"Table","inputs":{"from":"@body('Parse_JSON_4')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_4":{"runAfter":{"Create_HTML_table_4":["Succeeded"]},"metadata":{"operationMetadataId":"a68f1c5f-c4c7-48e9-ade7-91d0e46da85e"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_4'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"},"Run_a_query_against_a_dataset_":{"runAfter":{},"metadata":{"operationMetadataId":"a78b1193-90a9-456f-be4a-88b68c77b36f"},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a4fe46d5-ef52-42aa-8392-f1ba28febc8f","specification/query":"EVALUATE\nVAR T =\n    SELECTCOLUMNS(\n        '4Month Analysis Customer Billets',\n        \"Sell to City\", '4Month Analysis Customer Billets'[Location],\n        \"Customer\", '4Month Analysis Customer Billets'[Customer],\n        \"Apr\", ROUND([AprSales], 2),\n        \"May\", ROUND([MaySales], 2),\n        \"Jun\", ROUND([JunSales], 2),\n        \"Jul\", ROUND([JulSales], 2),\n        \"Aug\", ROUND([AugSales], 2),\n        \"Sep\", ROUND([SepSales], 2),\n        \"Oct\", ROUND([OctSales], 2),\n        \"Nov\", ROUND([NovSales], 2),\n        \"Dec\", ROUND([DecSales], 2),\n        \"Jan\", ROUND([JanSales], 2),\n        \"Feb\", ROUND([FebSales], 2),\n        \"Mar\", ROUND([MarSales], 2),\n        \"YTD\", ROUND([YTDSales], 2),\n        \"NewCustomer\", '4Month Analysis Customer Billets'[NewCustomer]\n    )\nRETURN\nUNION(\n    T,\n    ROW(\n        \"Sell to City\", \"Total\",\n        \"Customer\", BLANK(),\n        \"Apr\", ROUND(SUMX(T, [Apr]), 2),\n        \"May\", ROUND(SUMX(T, [May]), 2),\n        \"Jun\", ROUND(SUMX(T, [Jun]), 2),\n        \"Jul\", ROUND(SUMX(T, [Jul]), 2),\n        \"Aug\", ROUND(SUMX(T, [Aug]), 2),\n        \"Sep\", ROUND(SUMX(T, [Sep]), 2),\n        \"Oct\", ROUND(SUMX(T, [Oct]), 2),\n        \"Nov\", ROUND(SUMX(T, [Nov]), 2),\n        \"Dec\", ROUND(SUMX(T, [Dec]), 2),\n        \"Jan\", ROUND(SUMX(T, [Jan]), 2),\n        \"Feb\", ROUND(SUMX(T, [Feb]), 2),\n        \"Mar\", ROUND(SUMX(T, [Mar]), 2),\n        \"YTD\", ROUND(SUMX(T, [YTD]), 2),\n        \"NewCustomer\", BLANK()\n    )\n)\n","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_":{"runAfter":{"Run_a_query_against_a_dataset_":["Succeeded"]},"metadata":{"operationMetadataId":"5eaaab0a-5a43-4a5c-80ff-8acbc14d3f69"},"type":"ParseJson","inputs":{"content":"@body('Run_a_query_against_a_dataset_')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"Customer Name":{"type":["string","null"]},"MTD Sales":{"type":["number","null"]},"Apr Sales":{"type":["number","null"]},"May Sales":{"type":["number","null"]},"Jun Sales":{"type":["number","null"]},"Jul Sales":{"type":["number","null"]},"Aug Sales":{"type":["number","null"]},"Sep Sales":{"type":["number","null"]},"Oct Sales":{"type":["number","null"]},"Nov Sales":{"type":["number","null"]},"Dec Sales":{"type":["number","null"]},"Jan Sales":{"type":["number","null"]},"Feb Sales":{"type":["number","null"]},"Mar Sales":{"type":["number","null"]},"YTD Sales":{"type":["number","null"]}},"required":["Customer Name","MTD Sales","Apr Sales","May Sales","Jun Sales","Jul Sales","Aug Sales","Sep Sales","Oct Sales","Nov Sales","Dec Sales","Jan Sales","Feb Sales","Mar Sales","YTD Sales"]}}}}}},"Create_HTML_table_":{"runAfter":{"Parse_JSON_":["Succeeded"]},"metadata":{"operationMetadataId":"83e1ba20-704d-4394-a5c4-fec055a392c4"},"type":"Table","inputs":{"from":"@body('Parse_JSON_')?['results']?[0]?['tables']?[0]?['rows']","format":"HTML"}},"Compose_":{"runAfter":{"Create_HTML_table_":["Succeeded"]},"metadata":{"operationMetadataId":"b21a5c4f-c2e7-425a-a53d-a819503a3f9b"},"type":"Compose","inputs":"@concat(\r\n  '<style>\r\n    table,th,td {\r\n      border:1px solid black;\r\n      border-collapse:collapse;\r\n      padding:4px;\r\n    }\r\n    th { text-align:left; }\r\n    td { text-align:right; }\r\n    td:first-child { text-align:left; }\r\n  </style>',\r\n  replace(\r\n    replace(\r\n      replace(\r\n        body('Create_HTML_table_'),\r\n        '[',\r\n        ''\r\n      ),\r\n      ']',\r\n      ''\r\n    ),\r\n    '<tr><td>Total',\r\n    '<tr style=\"font-weight:bold\"><td>Total'\r\n  )\r\n)\r\n"}}},"connectionReferences":{"shared_powerbi":{"connectionName":"shared-powerbi-06b1da65-da6c-4352-ba8e-aaf6362f7ee0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified","apiName":"powerbi","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365-1":{"connectionName":"2e747d79df36458f9313e51fc76bea74","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}